<p>Existe un total de <%=@evaluations.count%> evaluaciones en el sistema</p>
<hr>
<h2>ACES</h2>
<input type="button" onclick="location.href='<%=get_aces_csv_url%>'" value="Descargar CSV" />

<h2>WALLY</h2>
<input type="button" onclick="location.href='<%=get_wally_csv_url%>'" value="Descargar CSV" />

<h2>CUBOS DE CORSI</h2>
<input type="button" onclick="location.href='<%=get_corsi_csv_url%>'" value="Descargar CSV" />

<h2>CORAZONES & FLORES</h2>
<input type="button" onclick="location.href='<%=get_hnf_csv_url%>'" value="Descargar CSV" />

<h2>Test fonológico</h2>
<input type="button" onclick="location.href='<%=get_fonotest_csv_url%>'" value="Descargar CSV" />