<p>Existe un total de <%=@evaluations_count%> evaluaciones en el sistema</p>
<hr>
<h2>ACES (<%=@ace_evaluations_count%>)</h2>
<input type="button" onclick="location.href='<%=get_aces_csv_url%>'" value="Descargar CSV" />

<h2>WALLY (<%=@wally_evaluations_count%>) </h2>
<input type="button" onclick="location.href='<%=get_wally_csv_url%>'" value="Descargar CSV" />

<h2>CUBOS DE CORSI (<%=@corsi_evaluations_count%>)</h2>
<input type="button" onclick="location.href='<%=get_corsi_csv_url%>'" value="Descargar CSV" />

<h2>CORAZONES & FLORES (<%=@hnf_evaluations_count%>)</h2>
<input type="button" onclick="location.href='<%=get_hnf_csv_url%>'" value="Descargar CSV" />

<h2>TEST FONOLOGICO (<%=@fonotest_evaluations_count%>)</h2>
<input type="button" onclick="location.href='<%=get_fonotest_csv_url%>'" value="Descargar CSV" />