<%= form_with(model: corsi, local: true) do |form| %>
  <% if corsi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(corsi.errors.count, "error") %> prohibited this corsi from being saved:</h2>

      <ul>
      <% corsi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :corsi_version %>
  </div>

  <div class="field">
    <%= form.label :current %>
    <%= form.check_box :current, id: :corsi_current %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
