<p id="notice"><%= notice %></p>

<h1>Wfeelings</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wfeelings.each do |wfeeling| %>
      <tr>
        <td><%= wfeeling.text %></td>
        <td><%= wfeeling.index %></td>
        <td><%= link_to 'Show', wfeeling %></td>
        <td><%= link_to 'Edit', edit_wfeeling_path(wfeeling) %></td>
        <td><%= link_to 'Destroy', wfeeling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wfeeling', new_wfeeling_path %>
