<p id="notice"><%= notice %></p>

<h1>Wsituations</h1>

<table>
  <thead>
    <tr>
      <th>Multimedia</th>
      <th>Description</th>
      <th>Wfeeling question</th>
      <th>Wreaction question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wsituations.each do |wsituation| %>
      <tr>
        <td><%= wsituation.multimedia %></td>
        <td><%= wsituation.description %></td>
        <td><%= wsituation.wfeeling_question %></td>
        <td><%= wsituation.wreaction_question %></td>
        <td><%= link_to 'Show', wsituation %></td>
        <td><%= link_to 'Edit', edit_wsituation_path(wsituation) %></td>
        <td><%= link_to 'Destroy', wsituation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wsituation', new_wsituation_path %>
