<%= form_with(model: acase, local: true) do |form| %>
  <% if acase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acase.errors.count, "error") %> prohibited this acase from being saved:</h2>

      <ul>
      <% acase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ace_id %>
    <%= form.text_field :ace_id, id: :acase_ace_id %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :acase_index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
