<p id="notice"><%= notice %></p>

<h1>Wfeeling Questions</h1>

<table>
  <thead>
    <tr>
      <th>Multimedia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wfeeling_questions.each do |wfeeling_question| %>
      <tr>
        <td><%= wfeeling_question.multimedia %></td>
        <td><%= link_to 'Show', wfeeling_question %></td>
        <td><%= link_to 'Edit', edit_wfeeling_question_path(wfeeling_question) %></td>
        <td><%= link_to 'Destroy', wfeeling_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wfeeling Question', new_wfeeling_question_path %>
