<p id="notice"><%= notice %></p>

<p>
  <strong>Multimedia:</strong>
  <%= @wsituation.multimedia %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wsituation.description %>
</p>

<p>
  <strong>Wfeeling question:</strong>
  <%= @wsituation.wfeeling_question %>
</p>

<p>
  <strong>Wreaction question:</strong>
  <%= @wsituation.wreaction_question %>
</p>

<%= link_to 'Edit', edit_wsituation_path(@wsituation) %> |
<%= link_to 'Back', wsituations_path %>
