<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @afeeling.index %>
</p>

<p>
  <strong>Text:</strong>
  <%= @afeeling.text %>
</p>

<%= link_to 'Edit', edit_afeeling_path(@afeeling) %> |
<%= link_to 'Back', afeelings_path %>
