<%= form_with(model: wfeeling, local: true) do |form| %>
  <% if wfeeling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wfeeling.errors.count, "error") %> prohibited this wfeeling from being saved:</h2>

      <ul>
      <% wfeeling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :wfeeling_text %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :wfeeling_index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
