<div>
    <%=form_with model: @study, :html=>{style:"display:inline"} do |form|%>
        <%=form.label :nombre_estudio %>
        <%=form.text_field :name, id: :nombre_estudio%>
        <%=form.submit :actualizar%>
    <%end%>
    <form method="post" action="<%=study_delete_path%>" style="display:inline">
        <input type="hidden" name="study[id]" value="<%=@study.id%>">
        <button style="display:inline; float:right; background-color:#DD1111; color:#FFFFFF; border: 2px solid black" onclick="
            if(confirm('¡Atención! Se borrarán las asociaciones con usuarios, cursos y momentos. ')){
                return true;
            }
            return false;
            ">Eliminar</button>
    </form>
</div>
<hr>
<div>
<table style="width:100%">
    <tbody>
        <tr>
            <td>
                <div class="section">
                    
                    <h4> Usuarios </h4>
                      <hr>
                    <ul>
                        <%@study.users.each do |user|%>
                            <li>
                                <span> <%=user.email%></span>
                                <span> <a href="<%=study_delete_user_url(@study.id, user.id )%>"
                                        onclick="if (confirm('Seguro?')){return true}; return false"> delete</a></span>
                            </li>
                        <%end%>
                        <form id="add-user" method="POST" action="<%=study_add_user_url(@study.id)%>">
                            <li>
                                <select name="user" id="users">
                                    <option value="0">Seleccione</option>
                                    <%@users.each do |user|%>
                                        <option value="<%=user.id%>"> <%=user.email%> </option>
                                    <%end%>
                                </select>
                            <input type="submit" value="Agregar">
                        </li>
                        </form>
                    </ul>

                  
                </div>
            </td>
            <td style="vertical-align: top">
                <div class="section" style="padding: 10px 20px 10px 40px">
                    <h4> Participantes </h4>
                    <hr>
                    <table>
                        <thead>
                            <tr>
                                <th>N</th>
                                <th>Curso</th>
                                <th>Grupo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@course_groups.each_with_index do |course_group, index|%>
                                <tr>
                                    <form method="POST" style="display:inline" action="<%=study_course_update_path(@study.id, course_group['id'])%>">
                                    <td>
                                        <%=index+1%>
                                    </td>
                                    <td>
                                        <%=course_group['course']['full_name']%>
                                    </td>
                                    <td >
                                        <select name="group" style="max-width:40px">
                                            <option value="null"
                                                <%if course_group['group'] != 0 and course_group['group'] != 1%>
                                                selected
                                                <%end%>
                                            >
                                                Seleccione
                                            </option>
                                            <option value="0" 
                                                <%if course_group['group'] == 0%>
                                                    selected
                                                <%end%>
                                            >
                                                0
                                            </option>
                                            <option value="1"
                                            <%if course_group['group'] == 1%>
                                                    selected
                                                <%end%>
                                                >
                                               1
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" value="Ok">
                                        </form>
                                        <form style="display:inline" method="post" action="<%=study_course_del_url(@study.id, course_group["id"])%>"
                                        onsubmit="if(window.confirm('Seguro?')){ return true}else{return false};"
                                        > 
                                            <input type="submit" value="Bor">
                                        </form>
                                    </td>
                                </tr>                               
                            <%end%>
                        </tbody>
                    </table>
        
                    <hr>
                    <h5>Agregar Participantes</h5>
                    <form method="post" action="<%=study_course_url(@study.id)%>"> 
                        <input type="hidden" name="study_id" value="<%=@study.id%>">
                        <select id="selectCourse" name="course_id">
                            <option value="0"> Seleccione curso</option>
                            <%@courses.each do |course|%>
                                <option value="<%=course.id%>"> <%=course.full_name%></option>
                                <%end%>        
                        </select>
                        
                        <select name="group_number">
                            <option value="0"> Grupo Control (0)</option>
                            <option value="1"> Grupo Intervencion (1) </option>
                        </select>

                        <input type="submit" value="Agregar">
                    </form>
                </div>

                
            </td>
            <td>
                <div class="section">
                    <h4>Instrumentos</h4>
                  <hr>
                    <%=form_with(model: @study, local:true) do |form|%>
                        <table>
                            <tr> <th>Nombre</th> <th>Borrar</th></tr>
                            <%=form.fields_for :study_instruments do |instruments_form|%>
                                <tr>
                                    <td><%=instruments_form.collection_select :instrument_id, @instruments, :id, :name,  { include_blank: 'Seleccione Nuevo' } %></td>
                                    <td><%=instruments_form.check_box :_destroy %></td>
                                </tr>
                            <%end%>
                        </table>
                        <br>
                        <%=form.submit%>
                    <%end%>
                </div>
            
            </td>
        </tr>
    </tbody>
</table>
</div>
<style>
    #selectCourse{
        max-width: 160px;
    }

    td{
        vertical-align: top;
    }

    .section{
        
        border: 1px solid #AAAAAA;
        border-radius: 3px;
        box-shadow: 5px 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px 10px 10px 10px;
        background: #DDBBBBAA
    }
    .yellow{


    }
</style>
