<%= form_with(model: afeeling, local: true) do |form| %>
  <% if afeeling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(afeeling.errors.count, "error") %> prohibited this afeeling from being saved:</h2>

      <ul>
      <% afeeling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :afeeling_index %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :afeeling_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
