<p id="notice"><%= notice %></p>

<h1>Afeelings</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afeelings.each do |afeeling| %>
      <tr>
        <td><%= afeeling.index %></td>
        <td><%= afeeling.text %></td>
        <td><%= link_to 'Show', afeeling %></td>
        <td><%= link_to 'Edit', edit_afeeling_path(afeeling) %></td>
        <td><%= link_to 'Destroy', afeeling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afeeling', new_afeeling_path %>
