<p id="notice"><%= notice %></p>

<p>
  <strong>Ace:</strong>
  <%= @acase.ace %>
</p>

<p>
  <strong>Index:</strong>
  <%= @acase.index %>
</p>

<%= link_to 'Edit', edit_acase_path(@acase) %> |
<%= link_to 'Back', acases_path %>
