<p id="notice"><%= notice %></p>

<h1>Wreaction Questions</h1>

<table>
  <thead>
    <tr>
      <th>Multimedia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wreaction_questions.each do |wreaction_question| %>
      <tr>
        <td><%= wreaction_question.multimedia %></td>
        <td><%= link_to 'Show', wreaction_question %></td>
        <td><%= link_to 'Edit', edit_wreaction_question_path(wreaction_question) %></td>
        <td><%= link_to 'Destroy', wreaction_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wreaction Question', new_wreaction_question_path %>
