<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @wfeeling.text %>
</p>

<p>
  <strong>Index:</strong>
  <%= @wfeeling.index %>
</p>

<%= link_to 'Edit', edit_wfeeling_path(@wfeeling) %> |
<%= link_to 'Back', wfeelings_path %>
