<p id="notice"><%= notice %></p>

<h1>Csequences</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csequences.each do |csequence| %>
      <tr>
        <td><%= csequence.sequence %></td>
        <td><%= link_to 'Show', csequence %></td>
        <td><%= link_to 'Edit', edit_csequence_path(csequence) %></td>
        <td><%= link_to 'Destroy', csequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csequence', new_csequence_path %>
