<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @wreaction.text %>
</p>

<p>
  <strong>Index:</strong>
  <%= @wreaction.index %>
</p>

<%= link_to 'Edit', edit_wreaction_path(@wreaction) %> |
<%= link_to 'Back', wreactions_path %>
