<%= form_with(model: participants_file, local: true, :html=>{:id=>"form-main"}) do |form| %>

    <div class="fields-container">
      <% if participants_file.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(participants_file.errors.count, "error") %> prohibited this participants_file from being saved:</h2>

          <ul>
          <% participants_file.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="field">
        <%= form.label :user_id %>
        <%= collection_select(:participants_file, :user_id, User.all, :id, :email)  %>
      </div>

      <div class="field">
        <%= form.label :year %>
        <%= form.number_field :year, id: :participants_file_year %>
      </div>

      <div class="field">
        <%= form.label :csv_file %>
        <%= form.file_field :csv_file, id: :csv_file %>
      </div>
    </div>
    <hr>
    <h5><strong>Escuelas</strong></h5>
    <div class="field " id="schools-container">
      <%=form.fields_for :schools, @schools do |schools_form|%>
        <%school_div_id= "school_n_#{@schools.index(schools_form.object)}"%>
        <div class="school-container">
          
          <div class="school-title" onclick="
            div = document.getElementById('<%=school_div_id%>');
            div.classList.toggle('field-closed');
            div.classList.toggle('field-opened');
          ">
            <span onclick="event.stopProgagation();return true;">
    
              <strong> <%=schools_form.object.name %></strong>
              
            </span>

            
          </div>

          <div id="<%=school_div_id%>" class="field-closed school-body">
              <div class="school-fields">
                <%=schools_form.label :name%>  
                <%=schools_form.text_field :name%>  
              </div>
              <hr>
              <h6>
              <strong>Courses </strong></h6>
              <div class="courses-container">
              <%=schools_form.fields_for :courses, schools_form.object.courses do |course_fields|%>
                <%course_div_id="#{school_div_id}_course_n_#{schools_form.object.courses.index(course_fields.object)}"%>
                <div class="course-container">
                  <div class="course-title" onclick="
                  div = document.getElementById('<%=course_div_id%>');
                  div.classList.toggle('field-closed');
                  div.classList.toggle('field-opened');
                  ">
          
                    <h6><strong>
                    <%=course_fields.object.name%> </strong> </h6>
                  
              
                  </div>
                  <div id="<%=course_div_id%>" class="field-closed course-body">

                      <%=course_fields.label :name%>
                      <%=course_fields.text_field :name%>

                      <%=course_fields.label :level%>
                      <%=course_fields.number_field :level%>

                      <%=course_fields.label :letter%>
                      <%=course_fields.number_field :letter%>
                    
                    <hr>
                    
                        <h6><strong>
                    Students</strong></h6>
                    <table>
                      <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Rut</th>
                        <th>Id</th>
                      </tr>
                      <%=course_fields.fields_for :students, course_fields.object.students do |student_fields|%>
                        <tr>
                          <td>
                            <%=student_fields.text_field :name%>
                          </td>
                          <td>
                            <%=student_fields.text_field :last_name%>
                          </td>
                          <td>
                            <%=student_fields.text_field :rut%>
                          </td>
                          <td>
                            <%=student_fields.text_field :id_rut%>
                          </td>
                          <td style="padding-left:20px">
                            <%=link_to('Cambiar curso', @course_change_url[course_fields.object.id][student_fields.object.id], class:'change-course-link' )%>
                          </td>
                        </tr>
                      
                      
                      <%end%>
                    </table>
                  </div>
                </div>
                
              <br>
              <%end%>
              </div>
          </div>
          
          
        </div>
        <br>
      <%end%>
    </div>


    <div id="actions">
      <%= form.submit 'Actualizar',{:class=>"btn btn-primary"}%>
    </div>
  
<% end %>

<style>

  
  #form-main{
    position:
  }
  #actions{
    position:fixed;
    bottom:15px;
    right: 20px;
    
  }
  .field-closed{
    display:none;
  }
  .fields-container{
    padding: 10px 10px 10px 20px;
  
  }

  #schools-container{
    padding-left: 20px;
  }

  .courses-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .school-container, .course-container{
    border-style: solid groove groove solid;
    border-color: #AAAAAA;
    border-width:0px 2px 2px 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2), 0px 4px 6px 0px rgba(0,0,0,0.1)
  }

  .school-title, .course-title{
    cursor: pointer;
  }

  .school-fields{
    font-size:15px;
    padding-left: 10px;
  }

  .school-title, .course-title{
    padding: 4px 5px 4px 5px;
    background-color:#B1B1B1;
    border-top-left-radius: 4px;
  }

  .school-body, .course-body{
    font-size: 20;
    padding:30px 30px 30px 30px;
 
  }
  .school-body, .course-body{
    border-left-width:1px;
    border-left-color: #AAAAAA;
    border-left-style: solid;
  }
  

  .field-opened{
    height:auto
  }

  .change-course-link{
    display: inline;
  }

  #main{
    height:100%;
    position: relative;
  }
</style>
