<%= form_with(model: wally, local: true) do |form| %>
  <% if wally.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wally.errors.count, "error") %> prohibited this wally from being saved:</h2>

      <ul>
      <% wally.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version, id: :wally_version %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :wally_description %>
  </div>

  <div class="field">
    <%= form.label :current %>
    <%= form.check_box :current, id: :wally_current %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
