<!DOCTYPE html>
<html>
  <head>
    <title>Api</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <nav>
    <ul>
      <li><a class="active" href=<%=download_csv_url%>>Evaluaciones</a></li>
      <%if current_user
          if current_user.can_admin_users?%>
          <li><%=link_to 'Usuarios',users_url%></li>
          <li><%=link_to 'Colegios',schools_url%></li>
          <li><%=link_to 'Cursos',courses_url%></li>
          <li><%=link_to 'Archivos',participants_files_url%></li>
          <li><%=link_to 'Estudios', studies_url%></li>
          <li><%=link_to 'Momentos', moments_path%></li>
          <li><%=link_to 'Instrumentos', instruments_path%></li>

        <%end%>
      <%end%>

        <li id="nav-logout-item">
          <%=form_with(url:destroy_user_session_url, method: :delete, :html=>{method: "DELETE",style:"display:inline; float:right"}) do |form|%>
            <%=form.submit 'salir', data: {confirm: "¿Salir?"} %>
          <%end%>

        </li>


    </ul>
  </nav>


    <div class="container-fluid" id="main">
      <% flash.each do |key, value| %>
        <%begin %>
          <div class="<%=flash_class(key)%>"> <%= sanitize(value,:tags=>%w(p strong br) ) %></div>
        <%rescue%>
        <%end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>


<style>
  body,html{
    background: #f0f3f8;
    height:100%;
  }


  nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  nav>ul>li {
      float: left;
      padding: 10px 15px 15px 10px;
  }


  #nav-logout-item{
      position: absolute;
      right:20px;
  }

  #nav-logout-item>form{

  }

  nav>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  nav>ul>li>a:hover {
    color: #ffffff;
  }
</style>
