<!DOCTYPE html>
<html>
  <head>
    <title>Api</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="nav-bar">
        <%if current_user%>
            <span><a class="active" href=<%=download_csv_url%>>Evaluaciones</a></span>
            <%if current_user.is_admin?%>
              <span><%=link_to 'Usuarios',users_url%></span>
              <span><%=link_to 'Colegios',schools_url%></span>
              <span><%=link_to 'Cursos',courses_url%></span>

              <span><%=link_to 'Estudios', studies_url%></span>
              <span><%=link_to 'Momentos', moments_path%></span>
              <span><%=link_to 'Instrumentos', instruments_path%></span>

            <%end%>
            <span>
              <%=form_with(url:destroy_user_session_url, method: :delete, :html=>{method: "DELETE",style:"display:inline; float:right"}) do |form|%>
                <%=form.submit 'salir', data: {confirm: "¿Salir?"} %>
              <%end%>
            </span>
        <%end%>    
    </div>
    <div class="container" style="margin-top: 2%">
      <% flash.each do |key, value| %>
            <div class="<%=flash_class(key)%>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>


<style>

  body{
    background: #f0f3f8;
  }

  #nav-bar{
    background-color: #333;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
  }

  #nav-bar>span{
    padding: 10px 20px 10px 0px;
  }
  
  #nav-bar>span>a{
    color:#ffffff
  }

 
</style>
